<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>

    <h1>{{ heading }}</h1>
    <p>---------------------------------------------------------------------------------------------------------------------------></p>

    <h3> Username <em>{{ username }}</em> is logged in under the display name <em>{{ display_nm }}</em>.</h3>

    <p>---------------------------------------------------------------------------------------------------------------------------></p>

    <h4> AUTH_USER_MODEL --> <em>{{ auth_user_model }}</em></h4>
    
</body>